{{!-- <div class="event_container">

    <a href='/event-details/{{_id}}'><img src="{{imageUrl}}" class="event-index_img"></a>

    <h3 class="event_title"><a href='/event-details/{{_id}}'>{{title}}</a></h3>
    <p>{{description}}</p>
    <p>{{creator.username}}</p>

</div> --}}